*{
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.navbar{
    height: 60px;
    color: white;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.navlogo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 120px;
    background-size:contain;
}

.location{
    display: flex;
    align-items: center;
}

.location i {
    margin: 5px;
}

.nav_locat p {
    padding-left: 21px;
    
}
.nav-search option{
    color: black;
}
.nav-search select{
    color: black;
    background-color: #E6E6E6;
    height: 41px;
    width: 52px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left:5px;

}
.nav-search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45.5%;

}

.searchbar input{
    height:41px;
    width: 600px;
}

.search-image{
    background-color:rgb(243, 168, 71);
    height:41px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-signin p{
    font-size: 14px;
    font-weight: 700;

}

.bold{
    font-size: 14px;
    font-weight: 700;
}

.nav-cart{
    display: flex;
    justify-content: center; 
    align-items: center;
} 
.nav-cart span{
    padding-top: 10px;
}

.english{
    display: flex;
}

.english i {
    margin-left: 4px;
}

.border:hover{
    border: 1.4px solid white;
}

.border-search:selected {
    border: 3px solid orange;
    border-radius: 7px;
}

.under-nav{
    height:40px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #232F3E;
}
.under-nav a{
    font-size: 14px;
    color: white;
}

.all a{
    margin-left: 4px;
}
/*  */

.main-content{
    background-color: #E3E6E6;
    height: 1000px;

}
.hero-section{
    height: 320px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    margin-bottom: 25px;
    height: 420px;
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

h2{
    margin-left: 15px;
}

.box1-img{
    background-image: url(box1_image.jpg);
}
.box2-img{
    background-image: url(box2_image.jpg);
}
.box3-img{
    background-image: url(box3_image.jpg);
}
.box4-img{
    background-image: url(box4_image.jpg);
}
.box5-img{
    background-image: url(box5_image.jpg);
}
.box6-img{
    background-image: url(box6_image.jpg);
}
.box7-img{
    background-image: url(box7_image.jpg);
}
.box8-img{
    background-image: url(box8_image.jpg);
}
.box-img{
    background-size: cover;
    height: 276px;
    width: 270px;
    margin-left: 39px;
    
}

h2{
    font-size: 22px;
    margin-left: 39px;
    margin-right:39px;
}
.anchor{
    margin-left:39px;
    font-size: 13px;
    color: #2162A1;
}
.under-hero{
    height: 40px;
    width: 90%;
    background-color: #F5F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:18px
}
.foot1{
    height: 50px;
    background-color: #37475A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.foot2{
    height: 250px;
    background-color: #232F3E;
    display:flex;
    justify-content: space-around;
    color: white;
}

.list p{
    margin-top: 16px;
    font-size: 16PX;
    font-weight: 700;
}
.list a{ margin-top: 6px;
    font-size: 14px;
    display: block;
    font-weight: 0;
    color: #DDDDDD;
}
.foot3{
    height: 60px;
    border-top: 0.08px solid white;
    background-color: #232F3E;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #CCCCCC;
}
.lang{
    
    width: 120px;
    height: 25px;
    margin-left: 20px;
    font-size: 13px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.usd{
    width: 120px;
    height: 25px;
    margin-left: 20px;
    font-size: 13px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country{
    width: 120px;
    height: 25px;
    margin-left: 20px;
    font-size: 13px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usd a{
    margin-left: 4px;
}
.country a{
    margin-left: 4px;
}
.lang a{
    margin-left: 4px;
}

.list p{
    margin-bottom: 8px;
}
